@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    background-color: #010409;
}

.top-container {
    text-align: center;
    color: #d4dadf;
    text-shadow: 1px 2px 15px rgb(0, 0, 0);
    height: 230px;
}

.top-container h3{
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

.top-container h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.top-container a{
    text-decoration: none;
    color: rgb(34, 34, 185);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 5px;
    font-size: 17px;
    border: rgb(34, 34, 185) 3px solid;
    background-color: rgba(34, 34, 185, 0);
}

.top-container a:hover{
    text-decoration: none;
    color:#babec3;
    transition: 0.3s;
    border: rgb(34, 34, 185) 3px solid;
    background-color: rgb(34, 34, 185);
    color:#babec3;
}





.header{
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 99999;
    backdrop-filter: blur(10px);
    background-color: #ece5e543;
}

img.dp{
    width:40px;
    height:40px;
    border-radius: 50%;
    padding: 10px;
}

.header h1{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 10px;
    color:rgb(231, 231, 240);
}

.header .nav-links{
    display: flex;
    padding-left: 24%;
}

.header .nav-links a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #d1d9e0;
    margin: 4%;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}

.header .nav-links a:hover{
    color: #020e68;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content{
    width: 100%;
    height: 1000px;
}

.about{
    margin: auto;
    width: 65%;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about h1{
    font-family: "Poppins", sans-serif;
    color: #d4dadf;
    text-align: center;
}
.content .about .about-container1{
    background-image: url('./coverpic.jpg');
    height: 93%;
    border-radius: 7px;
    object-fit: cover;
}

.content .about .about-container1 .about-container2{
    border-radius: 7px;
    height: 100%;
    width: 67%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 0, 0));
}

.content .about .about-container1:hover{
    background-image: url('./coverpic-edit.jpg');
    transition: 0.5s;
}

.content .about .about-container1 .about-container2 p{
    font-family: "Poppins", sans-serif;
    color:#010409;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 1%;
    line-height: 30px;
    font-size: 20px;
}

table {
    margin-left: 15px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #ffffff5d;
    border-radius: 5px;
    margin-bottom: 20px;
}

th{
    margin-right: 30px;
    width: 250px;
    border-radius: 5px;
    background-color: #0000002a;
}

.about-links{
    display: flex;
    padding: 10px 40px;
}

.about-links a{
    padding-right: 15px;
}

.about-links i{
    font-size:36px; 
    color: black;
}

.about-links i:hover{
    color: #02149f;
}



.education{
    margin: auto;
    width: 85%;
    height: 350px;
    margin-top: 70px;
}

.education h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d4dadf;
}
.education .education-flex{
    display: flex;
    margin: auto;
    width: 85%;
}

.education .education-flex .education-container{
    border-radius: 7px;
    height: 180px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-family: "Poppins", sans-serif;
    color: #d9dee5;
    background-color: #d4dadf4c;
    align-items: center;
    text-align: center;
    border: #d9dee500 solid 3px;
}

.education .education-flex .education-container p{
    border-radius: 5px;
    background-color: #bfc2c52f;
    color: #babec3;
    font-size: 15px;
}
.education .education-flex .education-container:hover{
    background-color: #d4dadf4c;
    border: #d9dee5 solid 3px;
    transition: 0.2s;
}
.skills{
    margin: auto;
    width: 65%;
    height: 300px;
}

.skills .skills-flex{
    display: flex;
    margin: auto;
    width: 95%;
}

.skills h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d9dee5;
}

.skills p{
    height: 40px;
    width:140px;
    border-radius: 7px;
    margin: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #d9dee5;
    background-color: #d4dadf4c;
    align-items: center;
    text-align: center;
    padding-top: 8px;
    border: #d9dee500 solid 3px;
}

.skills p:hover{
    background-color: #d4dadf4c;
    transition: 0.2s;
    border: #d9dee5 solid 3px;
}

.project{
    margin: auto;
    width: 65%;
    height: 1050px;
    margin-top: 20px;
}

.project h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d4dadf;
}

.project .project-container{
    color: #d9dee5;
    border-radius: 10px;
    height: 300px;
    margin: 20px;
    background-color: #d4dadf4c;
    border: #d9dee500 solid 3px;
}

.project .project-container:hover{
    background-color: #d4dadf4c;
    border: #d9dee5 solid 3px;
}

.project .project-container h3{
    font-family: "Poppins", sans-serif;
    color:#d9dee5;
}

.project .project-container p{
    font-family: "Poppins", sans-serif;
    color:#d9dee5;
}

.project .project-container img{
    width: 400px;
    height: 200px;
    padding: 10px;
}

.project-container-flex{
    display: flex;
    flex-direction: row;
}

.project-container-flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.project-container-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.link-flex{
    display: flex;
    flex-direction: row;
}

.link-flex a{
    margin: 3px;
    text-decoration: none;
    color: #d9dee5;
}

.link-flex a:hover{
    color: #020e68;
}

.certification{
    margin: auto;
    width: 65%;
    height: 650px;
    margin-top: 20px;
}

.certification h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d4dadf;
}

.certification .certification-container{
    background-color: #d4dadf4c;
    border: #d9dee500 solid 3px;
    border-radius: 10px;
    height: 490px;
    margin: 20px;
    padding: 20px;
}

.certification .certification-container:hover{
    background-color: #d4dadf4c;
    border: #d9dee5 solid 3px;
}

.certification .certification-container p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #d4dadf;
    padding-top: 20px;
}

.certification .certification-container .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 800px;
    z-index: 1;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .footer-a{
    background-color: #000000;
  }

  .footer-a h1{
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    text-align: center;
  }

  .footer-a p{
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    text-align: center;
    margin: 0px;
  }

  .contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-flex a{
    margin: 10px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    text-align: center;
  }

  .contact-flex p{
    margin: 10px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    text-align: center;
  }







.education-horizontal-timeline {
    padding: 80px 0;
}

/*.education-horizontal-timeline*/
.education-horizontal-timeline .col-sm-4 {padding:0 2px;}

.single-horizontal-timeline .experience-time h3{text-transform: capitalize;}
.single-horizontal-timeline .experience-time h3 span{text-transform:lowercase;}
.single-horizontal-timeline .timeline-content h5 {margin: 15px 0;}
.single-horizontal-timeline p {color: #999fb3;max-width: 335px;}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
    display:  flex;
    align-items: center;
    padding: 26px 0 30px;
}
.timeline-horizontal-border i {
    font-size:  10px;
    color: #d92cf9;
    margin-right:  5px;
}
span.single-timeline-horizontal {
    display:  inline-block;
    background: #b2c1ce;
    height:  1px;
    width: 100px;
}
span.single-timeline-horizontal.spacial-horizontal-line {width: 88px;}